div.flame-assess-jumbotron {
    background: #ffffff;
    height: 100vh;
}

div.flame-assess-profile {
    margin: 0% auto 5% auto;
}

a.flame-assess-profile-button {
    width: 100%;
}

div.flame-assess-header {
    background: #fafafa;
    border: 1px solid #ffffff;
    height: 85vh;
    padding: 5%;
    display: block;
    overflow-y: auto;
}

a.flame-assess-nav-item {
    width: 8em;
}

div.flame-assess-content {
    margin-top: 2%;
}

.flame-logo {
    width: 20em !important;
    margin-bottom: 5%;
    display: none;
}

div.flame-assess-button-container {
    margin-top: 2%;
    float: right;
}

.flame-start-button {
    width: 8em;
    margin: 4px;
}

.flame-col {
    width: 3.5em;
    text-align: center;
    margin: 0 auto;
}

div.flame-barchart-container {
    display: flex;
    justify-content: space-around;
}

div.flame-barchart-card {
    width: 25em !important;
    margin: 2%;
}

.flame-form {
    margin-bottom: 4px;
}

@media print {
    .flame-assess-profile {
        display: none;
    }
    .flame-to-print {
        background-color: white;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        margin-top: 5%;
        padding: 15px;
        font-size: 14px;
        line-height: 18px;
    }
    .flame-logo {
        display: inline-block;
    }
    .flame-assess-button-container {
        display: none;
    }
}