div.flame-start-jumbotron {
    background: #ffffff;
    height: 100vh;
}

div.flame-start-profile {
    margin: 0% auto 5% auto;
}

a.flame-start-profile-button {
    width: 100%;
}

div.flame-start-header {
    background: #fafafa;
    border: 1px solid white;
    height: 85vh;
    padding: 5%;
    position: relative;
    display: block;
    overflow-y: auto;
}

div.flame-start-button-container {
    margin-top: 2%;
    float: right;
}

.flame-start-button {
    width: 8em;
    margin: 4px;
}